<?xml version="1.0" encoding="utf-8"?>
<manifest>
  <uses-feature android:name="android.hardware.camera.any"
                android:required="true" />
  <uses-sdk android:minSdkVersion="7"
            android:targetSdkVersion="19" />
  <application android:icon="@drawable/app_icon.png">
      <activity android:name="com.github.magma1983.MainActivity"
                android:label="@string/label">
      </activity>
      <activity android:name="com.github.magma1983.ComposeEmailActivity">
        <intent-filter>
          <action android:name="android.intent.action.SEND" />
          <data android:type="*/*" />
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
      </activity>
  </application>
</manifest>
